@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("normalize.css");
@import url("fontello.css");
*, *::before, *::after{
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a{
  color: inherit;
  text-decoration: none;
}
/* 숨김 콘텐츠 */
.readable-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0,0,0,0);
  margin: -1px;
  overflow: hidden;
}
html{
  font-size: 10px;
}
body {
  background-color: #fff;
  font-size: 1.4rem;
  color: #181818;
  font-family: 'Spoqa Han Sans';
}
/* 레이아웃 */
.wrapper{
  background-color: silver;
  background-image: url("images/bg_flower.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.header, .visual, .main, .slogan, .footer{
  width: 940px;
  margin: 0 auto;
}
.header{
  background-color: #fff;
  padding: 0 30px 40px;
  position: relative;
}
/* 로고 */
.logo{
  padding: 45px 0 0 35px;
}
/* 멤버 링크 */
.member{
  display: flex;
  justify-content: flex-end;
  margin-top: -70px;
  margin-right: -10px;
}
.member li{
  text-transform: uppercase;
}
.member li:nth-child(n+2)::before{
  content: ":";
}
.member a{
  padding: 5px 10px;
}
/* 메인 메뉴 */
.menu{
  background: linear-gradient(to bottom, #ea892e 0%,#ce5327 35%,#ce5327 65%,#ea892e 100%);
  background-color: #ce5327;
  border-top: 2px solid #000;
  border-radius: 0 0 5px 5px;
  margin-top: 10px;
  padding-left: 225px;
  display: flex;
  align-items: center;
  height: 47px;
}
.menu-item{
  border-left: 2px solid rgba(255, 255, 255, .5);
  flex: 1 1 auto;
  text-align: center;
  position: relative;
}
.menu-item-text{
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.sub-menu{
  position: absolute;
  top: 35px;
  white-space: nowrap;
  display: none;
}
.sub-menu a{
  display: inline-block;
  padding: 8px 5px 10px 0;
  margin-right: 10px;
}
.sub-menu a::before{
  font-family: "fontello";
  content: "\f192";
}
.sub-menu a:hover:before{
  content: '\e800';
}
.visual{
  background-color: lime;
  height: 10vh;
}
.main{
  background-color: skyblue;
  padding: 30px 0;
  display: flex;
  justify-content: space-evenly;
}
.group{
  height: 20vh;
}
.group1{
  background-color: rgba(255,255,255,.5);
  width: 250px;
}
.group2{
  background-color: hsla(120,70%,60%,0.5);
  width: 380px;
}
.group3{
  background-color: tomato;
  width: 190px;
}
.slogan{
  background-color: blueviolet;
  height: 10vh;
}
.footer-bg{
  background-color: orange;
}
.footer{
  background-color: silver;
  height: 10vh;
}










