@charset "utf-8";
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("normalize.css");
@import url("fontello.css");
*, *::before, *::after{
  box-sizing: border-box;
  /* font: inherit; */
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a{
  color: inherit;
  text-decoration: none;
}
/* 숨김 콘텐츠 */
.readable-hidden, legend{
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0,0,0,0);
  margin: -1px;
  overflow: hidden;
}
html{
  font-size: 10px;
}
body {
  background-color: #fff;
  font-size: 1.4rem;
  color: #181818;
  font-family: 'Spoqa Han Sans';
}
/* 레이아웃 */
.wrapper{
  background-color: #fff;
  background-image: url("images/bg_flower.png"), 
                    linear-gradient(to bottom, #aaa 0%, #ccc 25%, #fff 65%, #fff 100%);
  background-repeat: no-repeat, repeat;
  background-position: 50% 0, 0 0;
}
.header, .visual, .main, .slogan, .footer{
  width: 940px;
  margin: 0 auto;
}
.header{
  background-color: #fff;
  padding: 0 30px 40px;
  position: relative;
  border-radius: 0 0 15px 15px; 
}
/* 로고 */
.logo{
  position: absolute;
  top: 45px;
  left: 65px;
}
/* 멤버 링크 */
.member{
  text-align: right;
  font-size: 0;
  padding: 10px 0;
  position: relative;
  right: -10px;
}
.member li{
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.member li:nth-child(n+2)::before{
  content: ":";
}
.member a{
  padding: 5px 10px;
}
/* 메인 메뉴 */
.menu{
  background: linear-gradient(to bottom, #ea892e 0%,#ce5327 35%,#ce5327 65%,#ea892e 100%);
  background-color: #ce5327;
  border-top: 2px solid #000;
  border-radius: 0 0 5px 5px;
  padding-left: 225px;
  height: 47px;
}
.menu-item{
  float: left;
  position: relative;
}
.menu-item-text{
  line-height: 45px;
  border-left: 2px solid rgba(255, 255, 255, .5);
  display: block;
  padding: 0 20px;
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.menu-item-text:hover::after{
  content: "";
  background-color: #000;
  display: block;
  height: 2px;
}
.menu-item-text:hover{
  color: #ff0;
  cursor: pointer;
}
.sub-menu{
  display: none;
  position: absolute;
  top: 50px;
  white-space: nowrap;
}
.sub-menu li{
  display: inline-block;
}
.sub-menu a{
  display: inline-block;
  padding: 8px 5px 10px 0;
  margin-right: 10px;
}
.sub-menu a::before{
  font-family: "fontello";
  content: "\f192";
}
.sub-menu a:hover:before{
  content: '\e800';
}
.menu-item:nth-child(1) .sub-menu{
  left: 0;
}
.menu-item:nth-child(2) .sub-menu{
  left: 0;
}
.menu-item:nth-child(3) .sub-menu{
  left: 0;
}
.menu-item:nth-child(4) .sub-menu{
  right: 0;
}
.menu-item:nth-child(5) .sub-menu{
  right: 0;
}
.menu-item:nth-child(6) .sub-menu{
  right: 0;
}
/* 비주얼 */
@keyframes flowerAni{
  0%{opacity: 1;}
  100%{opacity: 0;}
}
@keyframes textAni{
  0%{
    font-size: 12px;
    color: rgba(0,0,0,0);
    transform: translate(0,0);
    opacity: 1;
  }
  100%{
    font-size: 24px;
    color: rgba(0,0,0,1);
    transform: translate(400px, 75px);
    opacity: 1;
  }
}
.visual{
  height: 120px;
  position: relative;
}
.visual::before, .visual::after{
  content: "";
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: flowerAni 2s infinite alternate;
}
.visual::before{
  background: url("images/ani_flower_01.png") no-repeat 0 -15px,
              url("images/ani_flower_02.png") no-repeat 670px 0;
}
.visual::after{
  animation-delay: 1s;
  background: url("images/ani_flower_03.png") no-repeat 300px 0,
              url("images/ani_flower_04.png") no-repeat 800px 0;
}
.visual-text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: inline-block;
  position: relative;
  z-index: 10;
  opacity: 0;
  animation: textAni 5000ms forwards 3 alternate ease-in-out 2s;
}
/* 메인 콘텐츠 */
.main{
  background-color: #fff;
  padding: 30px 15px;
  border-radius: 15px 15px 0 0;
}
.clearfix::after{
  content: "";
  clear: both;
  display: block;
}
.group{
  float: left;
  margin: 0 15px;
}
.group1{
  background-color: rgba(255,255,255,.5);
  width: 250px;
  float: left;
}
.group2{
  width: 380px;
}
.group3{
  width: 190px;
}
/* 로그인 */
.login{
  background: radial-gradient(circle at right top, #ea892e, #ce5327);
  background-color: #ce5327;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 5px 5px 0 0 #aaa;
}
.login-heading{
  color: #ff0;
  font-size: 1.5rem;
}
.login-form{
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 0 10px;
  margin-top: 10px;
}
.login-form fieldset{
  margin: 0;
  padding: 0 0 10px 0;
  border: 0;
  border-bottom: 1px solid #aaa;
  position: relative;
}
.login-form [type="email"], .login-form [type="password"]{
  width: 100px;
  height: 22px;
  border: 1px solid #aaa;
  padding: 1px 1px 1px 5px;
}
.user-id{
  margin-bottom: 6px;
}
.login-form [for="user-id"], .login-form [for="user-pw"]{
  width: 4em;
  display: inline-block;
}
.btn-login{
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  padding: 0;
  border: 0;
  border-radius: 3px;
  background: #ce5327;
  color: #fff;
  font: inherit;
}
.sign{
  background-color: #fff;
  border-radius: 0 0  5px 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.sign a{
  letter-spacing: -1px;
  padding: 5px 0;
}
.sign .icon-right-open::before{
  color: #ce5327;
}
/* 유효성 검사 배너 */
.validation-list{
  margin-top: 25px;
}
.validation-list li{
  margin: 10px 0;
}
.validation-list a{
  background: url("images/validation_icon.png") no-repeat 15px 50%, 
              linear-gradient(to bottom, #eee, #ccc);
  background-color: #ccc;
  display: block;
  border: 1px solid #aaa;
  border-radius: 15px;
  line-height: 30px;
  padding-left: 45px;
}
/* 웹 관련 용어 */
.term{
  background: linear-gradient(to bottom, #eee, #ccc);
  background-color: #ccc;
  margin-top: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
}
.term-heading{
  font-size: 1.5rem;
}
.term-list{
  margin: 10px 0 0;
}
.term-list-subject{
  color: #296897;
}
.term-list-subject, .term-list-brief{
  float: right;
  width: 145px;
}
.term-list-thumbnail{
  margin: 0;
  float: left;
}
.term-list-thumbnail img{
  display: block;
}
.term-list-brief{
  margin: 0;
  margin-top: 5px;
  line-height: 1.5;
}
.term-list :nth-child(6n+4), .term-list :nth-child(6n+5){
  margin-top: 10px;
}
.term-list :nth-child(6n+4), .term-list :nth-child(6n+6){
  float: left;
}
.term-list :nth-child(6n+5){
  float: right;
}
/* 검색 폼 */
.search-form{
  background: linear-gradient(to bottom, #eee, #ccc);
  background-color: #ccc;
  border: 1px solid #aaa;
  border-bottom: 0;
  border-radius: 15px 15px 0 0;
  padding: 15px 25px 10px;
}
.search-form fieldset{
  margin: 0;
  padding: 0;
  border: 0;
}
.search-form-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-form [type="search"]{
  width: 200px;
  height: 24px;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 1px 1px 1px 5px;
}
.btn-search{
  background: #333;
  color: #fff;
  font: inherit;
  padding: 0 10px;
  height: 24px;
  border-radius: 3px;
  border: 1px solid #aaa;
}
/* 공지사항 및 자료실 */
.board{
  margin-top: 20px;
  position: relative;
}
.tab{
  cursor: pointer;
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(to bottom, #eee, #ccc);
  background-color: #ccc;
  color: #666;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 5px 10px;
  position: absolute;
  top: 0;
}
.pds-heading{
  left: 73px;
}

.is-act .tab{
  background: #fff;
  border-color: #ce5327 #ce5327 #fff #ce5327;
  color: #ce5327;
}
.notice-list, .notice-more, .pds-list, .pds-more{
  display: none;
}
.is-act .notice-list, .is-act .notice-more, 
.is-act .pds-list, .is-act .pds-more{
  display: block;
}
.notice-list, .pds-list{
  padding-top: 45px;
}
.notice-list li, .pds-list li{
  margin-bottom: 10px;
}
.notice-list li::after, .pds-list li::after{
  content: "";
  display: block;
  clear: both;
}
.notice-list li::before, .pds-list li::before{
  float: left;
  margin-top: 2px;
}
.notice-list a, .pds-list a{
  float: left;
  width: calc(100% - 105px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notice-list time, .pds-list time{
  float: right;
  margin-left: auto;
}
.notice-more::before, .pds-more::before{
  color: hsla(110, 40%,30%,1);
}
.notice-more, .pds-more{
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}
/* 새소식 */
.news{
  margin-top: 20px;
  position: relative;
}
.news::before{
  content: "";
  position: absolute;
  left: 0;
  top: 30px;
  height: 1px;
  width: 80%;
  background: linear-gradient(to right, #aaa, #fff);
  /* border-image를 활용하여 Gradient 효과를 지정할 때 */
  /* border-top: 2px solid green;  
  border-image-source: linear-gradient(to right, #000, #fff);
  border-image-slice: 2;*/
}
.news-heading{
  font-size: 1.5rem;
  color: #ce5327;
}
.news-link{
  display: block;
  outline-offset: 5px;
}
.news-item{
  margin-top: 35px;
  padding-left: 130px;
  position: relative;
  min-height: 105px;
}
.news-item-heading{
  font-size: 1.4rem;
}
.news-item-thumbnail{
  position: absolute;
  top: 2px;
  left: 0;
  margin: 0;
  text-align: center;
}
.news-item-thumbnail img{
  margin-bottom: 15px;
  box-shadow: 0 10px 15px 5px #aaa;
}
.news-more{
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}
.news-more::before{
  color: hsla(110, 40%,30%,1);
}
/* 신규 이벤트 및 관련 사이트 */
.event{
  background-color: yellow;
}
.event2{
  background-color: pink;
}

/* 인기 사이트 */
.favorite{
  background: linear-gradient(to bottom, #eee, #ccc);
  background-color: #ccc;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px 10px 5px 10px;
  margin-top: 20px;
  position: relative;
}
.favorite-heading{
  font-size: 1.5rem;
}
.favorite-heading span{
  color: #ce5327;
}
.favorite-more{
  position: absolute;
  top: 2px;
  right: 2px;
  padding: 8px;
}
.favorite-list{
  padding: 0;
  overflow: hidden;
  margin: 5px 0 0 0;
  counter-reset: number;
}
.favorite-list li{
  counter-increment: number;
  margin: 5px 0;
  display: flex;
  align-items: center;
}
.favorite-list li::before{
  content: counter(number);
  color: #fff;
  background: #999;
  padding: 0 5px;
  border-radius: 2px;
  font-size: 1.1rem;
  margin-right: 5px;
}
.up, .stop, .down{
  width: 9px;
  height: 0;
  padding-top: 11px;
  overflow: hidden;
  margin-left: auto;
  /* transform: translateY(-50%); */
  /* float: right; */
  /* display: inline-block; */
  background-image: url("images/rank.png");
  background-repeat: no-repeat;
}
.stop{
  background-position: 0 50%;
}
.down{
  background-position: 0 100%;
}
.favorite-more::before{
  color: hsla(110, 40%,30%,1);
}
/* 슬로건 */
.slogan{
  padding:0 100px 0 180px;
  position: relative;
}
.slogan-heading{
  width: 110px;
  height: 83px;
  line-height: 83px;
  text-align: center;
  font-size: 1em;
  position: absolute;
  left: 35px;
  bottom: -35px;
}
.slogan-heading::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("images/coffee.png") no-repeat;
}
.slogan-content{
  font-size: 1.5rem;
  color: #987633;
}
.slogan-content q::before{
 font-size: 3.5rem;
 position: relative;
 top: 15px;
}
.slogan-content q::after{
 content: "";
}
.footer-bg{
  background-color: #fff;
  background-image: linear-gradient(to bottom, #aaa 0%, #ccc 45%, #fff 100%);
}
.footer{
  position: relative;
  padding: 10px 100px 10px 160px;
}
/* 푸터 로고 */
.footer-logo{
  position: absolute;
  top: 35px;
  left: 35px;
}
/* 가이드링크 */
.guide{
  background: #7b8385;
  color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  padding: 2px 0;
}
.guide a{
  text-transform: uppercase;
  /* font-variant: small-caps; */
  display: block;
  padding: 8px 0;
}
/* 주소 및 저작권 정보 */
.address{
  font-style: normal;
  margin-top: 10px;
}
/* HTML5와 CSS3 로고 */
.badge{
  position: absolute;
  top: 10px;
  right: 0;
}





